xsd-schemas/xml-zohorecruit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<!-- Root can be either <jobs> or <source> -->
<xs:element name="source" type="SourceContainerType"/>
<xs:element name="jobs" type="JobsContainerType"/>

<!-- Source wrapper (common in Zoho feeds) -->
<xs:complexType name="SourceContainerType">
  <xs:sequence>
    <xs:element name="job" type="JobType" maxOccurs="unbounded"/>
  </xs:sequence>
</xs:complexType>

  <!-- Root element -->
    <xs:complexType name="JobsContainerType">
      <xs:sequence>
        <xs:element name="job" type="JobType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

  <!-- Job type definition -->
  <xs:complexType name="JobType">
    <xs:sequence>
      <xs:element name="Field" type="FieldType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Field type with any name attribute value -->
  <xs:complexType name="FieldType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>
