xsd-schemas/xml-tidan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <!--
    XSD Schema for Tidan Job Feed
    Compatible with Importers::Tidan parser
    Generated based on app/services/importers/tidan.rb
  -->

  <!-- Root element: source containing multiple job elements -->
  <xs:element name="source">
    <xs:complexType>
      <xs:sequence>
      <xs:element name="lastBuildDate" type="xs:string" minOccurs="0"/>
      <xs:element name="publisherUrl" type="xs:anyURI" minOccurs="0"/>
      <xs:element name="publisher" type="xs:string" minOccurs="0"/>
      <xs:element ref="job" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Individual job posting element -->
  <xs:element name="job">
    <xs:complexType>
      <xs:all>
        <xs:element name="source" type="xs:string" minOccurs="0"/>
        <xs:element name="headline" type="xs:string" minOccurs="0"/>
        <!-- Required: Unique identifier for the job posting -->
        <xs:element name="businessProcessId" type="xs:string"/>

        <!-- Required: Job code containing locale indicator (fr/en) -->
        <xs:element name="jobCode" type="xs:string"/>

        <!-- Required: Job title -->
        <xs:element name="title" type="xs:string"/>

        <xs:element name="listDate" type="xs:string" minOccurs="0"/>

        <!-- Required: Company name -->
        <xs:element name="company" type="xs:string"/>

        <!-- Required: City (can be comma-separated for multiple cities) -->
        <xs:element name="ville" type="xs:string" minOccurs="0"/>
        <xs:element name="city" type="xs:string" minOccurs="0"/>

        <!-- Required: Province/State -->
        <xs:element name="province" type="xs:string" minOccurs="0"/>
        <xs:element name="state" type="xs:string" minOccurs="0"/>
        <xs:element name="country" type="xs:string" minOccurs="0"/>

        <!-- Optional: Postal code -->
        <xs:element name="postalCode" type="xs:string" minOccurs="0"/>
        <xs:element name="codepostal" type="xs:string" minOccurs="0"/>

        <xs:element name="location" type="xs:string" minOccurs="0"/>


        <!-- Required: Job description (HTML content allowed) -->
        <xs:element name="description" type="xs:string"/>

        <!-- Optional: Education requirements -->
        <xs:element name="education" type="xs:string" minOccurs="0"/>

        <!-- Optional: Experience requirements -->
        <xs:element name="experience" type="xs:string" minOccurs="0"/>

        <!-- Required: Application URL -->
        <xs:element name="applyUrl" type="xs:anyURI"/>
        <xs:element name="applicationFormUrl" type="xs:anyURI"/>

        <!-- Optional: Primary job category -->
        <xs:element name="categorie1" type="xs:string" minOccurs="0"/>

        <!-- Optional: Secondary job category -->
        <xs:element name="categorie2" type="xs:string" minOccurs="0"/>

        <!-- Optional: Tertiary job category -->
        <xs:element name="categorie3" type="xs:string" minOccurs="0"/>
        <xs:element name="departements" type="xs:string" minOccurs="0"/>

        <!-- Optional: Employment type (e.g., full-time, part-time) -->
        <xs:element name="typedemploi" type="xs:string" minOccurs="0"/>
        <xs:element name="division" type="xs:string" minOccurs="0"/>
        <xs:element name="referenceCode" type="xs:string" minOccurs="0"/>
        <xs:element name="name" type="xs:string" minOccurs="0"/>
        <xs:element name="statut" type="xs:string" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>

</xs:schema>
